hh2 {
  color: orange;
  font-family: 'ZCOOL KuaiLe', cursive;
}

hh3 {
  color: grey;
  font-family: 'ZCOOL KuaiLe', cursive;
}

code {
  font-family: monospace;
  color: red;
}

body  {
    background-color: #000;
    font-family: 'Staatliches', cursive;
}

.footerr {
    background-image: url('../img/devnull.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

index {
  color: orange;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

a:link, a:visited { 
  font-family: 'Inconsolata', monospace;
  color: orange;
  text-decoration: underline;
}

a:link:active, a:visited:active { 
  color: (internal value);
}
